In [1]:
#Comments in python
#This is a single line comments

#Variables in Python
a=10
b=10.5
c="oxygen"

print(a)
type(a)


print(b)
type(b)

print(c)
type(c)

#Changing the value of Variable in Python
name="oxygen"
print(name)

name="oxygen "
print(name)

#Assigning multiple values to multiple variables in python
a, b, c = 10, 10.5, "hello"

print(a)
print(b)
print(c)

#Assign the same value to multiple variable in python
a = b = c = 10

print("value of a is :" ,a)
print("value of a is :" ,b)
print("value of a is :" ,c)

#Data types in python
n1=10
n2=10.5
n3=1+2j

print(n1, "is", type(n1))
print(n2, "is", type(n2))
print(n3, "is", type(n3))

#string in python
name = "oxygen "
print(name)

#prints first character of string
print(name[0])

#prints character starting from 3rd to 5th
print(name[2:5])

#print character from 3rd
print(name[2:])

#print character 2 times
print(name *2)

#concatenated string
print("Hello! " + name)

#Lists
l1 = [10, 10.5, 'oxygen']
print(l1)

l2 = [10, 20, 30, 'oxygen', 40, 50, 'hello', 60]
print(l2)

print(l2[2])
print(l2[0:3])
print(l2[3:])

#Tuple
t1 = (10, 10.5, 'oxygen')
print(t1)

t2 = (10 , 20, 30, 'oxygen', 40, 50,'hello', 60)
print(t2)

print(t2[2])
print(t2[0:3])
print(t2[3:])

#Dictionary 
d1 = {1:'oxygen', 2:'','hello':771}
print(type(d1))

print(d1[1])
print(d1[2])
print(d1['hello'])

10
10.5
oxygen
oxygen
oxygen
10
10.5
hello
value of a is : 10
value of a is : 10
value of a is : 10
10 is <class 'int'>
10.5 is <class 'float'>
(1+2j) is <class 'complex'>
oxygen
o
yge
ygen
oxygen oxygen
Hello! oxygen
[10, 10.5, 'oxygen']
[10, 20, 30, 'oxygen', 40, 50, 'hello', 60]
30
[10, 20, 30]
['oxygen', 40, 50, 'hello', 60]
(10, 10.5, 'oxygen')
(10, 20, 30, 'oxygen', 40, 50, 'hello', 60)
30
(10, 20, 30)
('oxygen', 40, 50, 'hello', 60)
<class 'dict'>
oxygen

771